[submodule "finn"]
	path = finn
	url = https://github.com/Xilinx/finn
[submodule "oh-my-xilinx"]
	path = oh-my-xilinx
	url = https://github.com/maltanar/oh-my-xilinx
[submodule "finn-hlslib"]
	path = finn-hlslib
	url = https://github.com/Xilinx/finn-hlslib
