chisel4ml @ git+https://github.com/cs-jsi/chisel4ml@0.3.3
hls4ml==1.0.0
vivado-report-parser
pandas
torchvision
seaborn
pyyaml!=6.0.0,!=5.4.0,!=5.4.1
calmjs.parse==1.3.1
brevitas==0.8.0
onnxoptimizer==0.3.12
tzdata==2022.7
typing-extensions==4.12.1
numpy==1.26.3
h5py==3.11.0
